div#div-ponto-main {
    /* background: red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#div-menu-ponto {

    width: 100%;
    background: rgb(168, 170, 190);
    padding: 1%;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
}

.btn-menu {
    border: transparent;
    background: transparent;
    padding: 0px;
    margin-right: 1%;
    margin-left: 1%;
}

#btnSairSystem {
    margin-right: 5%;
}

#btnSairSystem:hover {
    cursor: pointer;
    color: blue;
}

table {
    width: 100%;
    border: #a8aabe 2px solid;
}

div#div-registro\=ponto {
    background: #a8aabe;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-radius: 10px;
    box-shadow: #b0a5c345 10px 10px;
    margin-bottom: 5%;
    align-content: center;
}