<div id="div-ponto-main">
  <div id="div-menu-ponto">
    <button class="btn-menu">{{userLogado}}</button> | <button class="btn-menu" id="btnSairSystem"
      (click)="deslogar()">Sair</button>
  </div>


  <div id="div-registro=ponto"> 
    <label>
      <input type="checkbox" [(ngModel)]="isEntradaChecked" (change)="onEntradaChange()" />
      Entrada
    </label> 
    <label>
      <input type="checkbox" [(ngModel)]="isSaidaChecked" (change)="onSaidaChange()" />
      Saída
    </label> 
    <form (ngSubmit)="RegistrarPonto()">
      <button type="submit" mat-flat-button>Registrar</button>
    </form>
  </div>

  <div id="div-registro-list">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="entrada">
        <th mat-header-cell *matHeaderCellDef> Entrada </th>
        <td mat-cell *matCellDef="let element"> {{element.entrada}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="saida">
        <th mat-header-cell *matHeaderCellDef> Saida </th>
        <td mat-cell *matCellDef="let element"> {{element.saida}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>